.modal {
  height: 500px;
}

.a-tag a {
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

.linha {
  width: 98%;
}

.album-cover {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.album-cover-page {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.foto-album {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-styles {
  cursor: pointer;
}

.foto-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 35px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.4);
  border: .6px solid #0d6efd;
}
.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fab {
  background-color: #0d6efd;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.4);
  margin: 10px;
}

.fab:hover {
  background-color: white;
  color: #0d6efd;
}

.modal-image {
  width: 500px;
  height: 100%;
  object-fit: cover;
}